body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
}
img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
ul, li, h3, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
	cursor: pointer;
}
.p-absolute1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}
.p-absolute2 {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
	bottom: 0;
}

.container{
    max-width: 1150px;
    margin: 0 auto; 
    padding: 0 15px; 
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.d-none{
    display: none;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 150px;
}
.main-menus ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 42px;
    font-size: 16px;
    color: #A6A6A6;
}
/*
.main-menus ul li{
    padding: 0 20px;
}
*/
.main-menus ul li a{
    color: #A6A6A6;
}
.log-sign a{
    font-size: 16px;
    color: #A6A6A6;
}
.log-sign {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 15px;
}
a.login {
    padding: 10px;
    border-radius: 10px;
}
a.sign-up {
    background-color: #54BD95;
    color: #F8F8FA;
    padding: 10px;
    border-radius: 10px;
}
.clr-black{
    color: #000000 !important;
}
.hero-container {
    max-width: 1440px;
    margin: auto;
}
.hero-row {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    /* grid-gap: 165px; */
}
.hero-content {
    width: 50%;
    max-width: 555px;
    margin-left: 130px;
}
.hero-content h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 20px;
}
.hero-content p {
    line-height: 30px;
    font-weight: 500;
    margin: auto;
    padding: 20px 90px 20px 0px;
    text-align: left;
}
.max-width-460{
    max-width: 460px;
}
.button {
    background-color: #54BD95;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 40px;
    display: inline-block;
}
.btn {
    background-color: #54BD95;
    color: #ffffff;
    padding: 0px 10px;
    border-radius: 10px;
    display: inline-block;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 50px;
}
.hero-image-wrapper {
    width: 50%;
    margin-bottom: 40px;
}
.dis-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
}
.collab-row {
    padding-bottom: 110px;
}
.collab-site-row {
    grid-gap: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.collab-row h2 {
    margin: auto;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
}



/* support */
.support-wrapper{
    position: relative;
}
.absolute{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.absolute img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.support-row {
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.s-rating {
    width: 50%;
    max-width: 640px;
}
.s-content {
    width: 50%;
    max-width: 500px;
}
.s-rating h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}
.s-rating p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(166, 166, 166, 1);
    padding: 40px 0px;
}
.ratings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 100px;
}
.rating {
    display: grid;
    grid-gap: 15px;
}
.data {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    grid-gap: 50px;
    margin-bottom: 30px;
}
.data-content h4 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
}
.data-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #A6A6A6;
}
.data-img img {
    background-color: #FFFFFF;
    padding: 20px 25px;
}
/* feature */
.feature-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.feature-head h2{
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    max-width: 330px;
}
.feature-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #A6A6A6;
    max-width: 470px;
}
.feature.btn a {
    line-height: 30px;  
    white-space: nowrap;
}
/* feature-section */
.feature-section-wrap {
    padding: 80px 0;
    position: relative;
}
.feature-section {
    max-width: 360px;
}
.feature-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.feature-section {
    max-width: 360px;
}
.feature-section-text h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: #191A15;
    margin: 20px 0;
}
.feature-section-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    color: #A6A6A6;
}
/* benefit */
.benefit-container {
    max-width: 1440px;
    margin: auto;
}
.benefit-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0;
}
.benefit-content ul {
    list-style-type: none;
}
.benefit-content h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 50px;
}
.benefit-content {
    max-width: 470px;
    padding-left: 105px;
}
.benefit-img img {
    padding-right: 20px;
}   
.benefit-content ul li {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 15px;
}
/* plan */
.plan-wrapper {
    padding: 80px 0;
}
.plan-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.plan-head {
    text-align: center;
    display: grid;
    justify-content: center;
    margin: auto;
}
.plan-head h4 {
    font-size: 50px;
    font-weight: 700;
    line-height: 73px;
    margin: 0;
    color: #191A15;
}
.plan-head p{
    color: #A6A6A6;
    padding: 20px 0;
}
.clr-191A15{
    color: #191A15;
    background-color: transparent;
}
.btns {
    background-color: #FFFFFF;
    max-width: 340px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.absolute-imgs{
    position: relative;
}
.absolute-grp {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.absolute-grp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grp1{
    top: 0;
    left: 0;
}
.grp2{
    bottom: 0;
    right: 0;
}

/* feedback */
.feedback-wrapper {
    background-color: #161C28;
    color: #A6A6A6;
}
.feedback-row {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.feedback-content h4 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    color: #FFFFFF;
}
.feedback-content p{
    line-height: 30px;
    padding: 20px 0;
}
.feedback-content {
    max-width: 460px;
}
.feedback-form {
    max-width: 615px;
    background-color: rgba(34, 41, 56, 1);
    padding: 60px 85px 30px 85px;
    border-radius: 20px;
}
.form form label {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}
.form form {
    display: grid;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    grid-gap: 10px;
}
.form-btns{
    display: grid;
}
.feedback-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 15px;
}
.feedback-form-head {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    place-items: center;
    grid-gap: 10px;
    padding-bottom: 20px;
}
.feedback-form-head h4 {
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    color: #fff;
}
.form input, .form textarea {
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    min-width: 400px;
    border: none;
    font-weight: 500;
    font-family: "Inter";
    color: rgba(166, 166, 166, 1);
}
.request-demo-btn{
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter";
}
.trial{
    text-align: right;
    padding-block: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    color: #FFF;
}
.trial span {
    color: rgba(166, 166, 166, 1);
}
/* footer */
.footer-wrapper{
    background-color: rgba(22, 28, 40, 1);
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-list ul{
    list-style-type: none;
}
.footer-list ul li{
    color: rgba(166, 166, 166, 1);
    padding: 12px 0;
}
.footer-input-row {
    display: grid;
    grid-gap: 35px;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 0 45px 0;
}
.clr-white{
    color: rgba(255, 255, 255, 1);
}
.footer-list > span {
    display: block;
    margin-bottom: 15px;
}
.footer-input-row span {
    color: rgba(166, 166, 166, 1);
}
input#foot-input {
    padding: 15px 25px;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(166, 166, 166, 1);
    color: rgba(166, 166, 166, 1);
    background-color: rgba(22, 28, 40, 1);
    font-size: 18px;
    width: 410px;
}
.inp{
    position: relative;
}
.inp img {
    position: absolute;
    top: 7px;
    bottom: 0;
    right: 5px;
    background-color: rgba(84, 189, 149, 1);
    border-radius: 20px;
    padding: 8px;
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    margin-top: 50px;
}
.footer-bottom p{
    line-height: 30px;
}
.footer-bottom ul {
    list-style-type: disc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    line-height: 30px;
    font-weight: 500;
}
.footer-bottom ul li a{
    color: rgba(255, 255, 255, 1);
}
ul li:first-child {
    list-style-type: none;
}

@media (max-width: 1400px) {
    .hero-content{
        margin-left: 110px;
    }
    .hero-row{
        justify-content: space-around;
    }
}
@media (max-width: 1200px) {
    .hero-row{
        grid-gap: 15px;
    }
    .menu{
        grid-gap: 140px;
    }
    .logo {
    margin-left: 25px;
    }
    .nav {
    margin: auto;
    justify-content: space-around;
    }
    .collab-site-row {
    grid-gap: 25px;
    justify-content: center;
    }
    .footer-row {
    justify-content: center;
    grid-gap: 20px;
    }
    .footer-bottom{
        justify-content: space-around;
        grid-gap: 60px;
    }
    .benefit-row{
        flex-wrap: nowrap;
    }
    .benefit-img img{
        padding: 0;
    }
}
@media (max-width: 992px) {
    .hero-content {
    width: 50%;
    max-width: 400px;
    }
    .hero-content h1 {
    font-size: 60px;
    line-height: 74px;
    }
    .menu{
        grid-gap: 50px;
    }
    .main-menus ul{
        grid-gap: 20px;
    }
    .logo{
        margin-left: 30px;
    }
    .feature-sections, .benefit-row {
        justify-content: space-around;
    }
    .feedback-form {
        max-width: 440px;
        padding: 40px 30px 10px 30px;
    }
    input#foot-input{
        width: 300px;
    }
}
@media (max-width: 768px) {
    input#foot-input {
        width: 250px;
    }
    .hero-row{
        display: inline-block;
        padding: 40px 0;
    }
    .hero-content h1 {
        font-size: 40px;
        line-height: 51px;
    }
    .max-width-460 {
        max-width: 220px;
    }
    .hero-content p{
        line-height: 20px;
    }
    .footer-bottom{
        grid-gap: 20px;
    }
    .main-menus{
        display: none;
    }
    .ham-icon{
        display: block;
        cursor: pointer;
    }
    .nav{
        display: flex;
        grid-gap: 20px;
    }
    .main-menus.active {
        display: block;
    }
    .main-menus ul{
        display: block;
    }
    .hero-content{
        margin: auto;
        max-width: 100%;
        width: 75%;
    }
    .btn{
        text-align: center;
    }
    .benefit-row {
        display: grid;
        grid-gap: 20px;
    }
    .feedback-row {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
    }
    .buttons{
        padding: 30px 0;
        display: grid;
        grid-gap: 20px;
    }
    .hero-image-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
    .collab-row h2{
        padding: 20px;
    }
    .button{
        padding: 10px 20px;
    }
    .s-content, .s-rating{
    width: 100%;
    }
    .data{
        margin-top: 30px;
    }
    .feature-sections {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.feature-row {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    grid-gap: 10px;
}
}

@media (max-width: 600px) {
    .ratings {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .hero-content{
        padding-left: 60px;
    }
    .feature-sections {
    display: grid;
    justify-content: center;
    }
    .feature-row {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
    }
    .form input, .form textarea{
        min-width: 300px;
    }
    .feedback-form{
        max-width: 350px;
    }
    .data{
        padding: 10px 0;
    }
    .support-row{
        display: grid;
    }
    .s-content, .s-rating{
        width: 100%;
    }
}
@media (max-width: 400px) {
    .form input, .form textarea {
        min-width: 200px;
    }
}

@media (max-width: 320px){
    .hero-content{
        padding: 0;
        width: 75%;
    }
    .hero-content p{
        padding: 20px 0 20px 0;
        font-size: 16px;
    }
    .support-row, .feature-row{
        display: block;
    }
    .hero-content h1 {
        font-size: 26px;
        line-height: 30px;
    }
    .hero-row {
        padding: 20px 0;
    }
    .collab-row h2, .s-rating h2, .feature-head h2, .benefit-content h2{
        font-size: 26px;
    }
    .collab-row {
        padding-bottom: 60px;
    }
    .s-rating p {
        line-height: 20px;
        padding: 20px 0px;
    }
    .ratings{
        grid-gap: 40px;
    }
    .data {
        display: grid;
        grid-gap: 20px;
    }
    .feature-row{
        padding-top: 40px;
        display: grid;
        grid-gap: 20px;
    }
    .benefit-content {
        padding-left: 20px;
    }
    .benefit-content ul li{
        font-size: 11px;
    }
    .plan-head h4 {
        font-size: 26px;
        line-height: 30px;
    }
    .plan-wrapper{
        padding: 0;
    }
    .feedback-content {
    max-width: 300px;
    }
    .feedback-row {
        display: grid;
        grid-gap: 30px;
    }
    .form input, .form textarea {
        min-width: 200px;
    }
    .feedback-form {
        padding: 40px 30px 20px;
        max-width: 230px;
    }
    .feedback-content h4 {
        font-size: 26px;
        font-weight: 500;
    }
    .feedback-content p {
        line-height: 20px;
        font-size: 16px;
    }
    .benefit-row{
        display: grid;
    }
    .benefit-img img{
        padding: 0;
    }
    .data-content h4, .feature-section-text h4{
        font-size: 26px;
    }
    .data-content p, .feature-text p, .feature.btn a, .feature-section-text p, .plan-head p, .form form label{
        font-size: 16px;
        line-height: 20px;
    }
    input#foot-input {
        width: 220px;
        font-size: 14px;
    }
    .inp img {
        top: 5px;
        right: 10px;
    }
    .footer-row {
        justify-content: flex-start;
    }
    .footer-bottom ul li {
        list-style-type: none;
    }
    .footer-bottom ul{
        justify-content: flex-start;
    }
    .footer-row{
        padding: 45px 0;
    }
    .benefit-row{
        padding: 40px 0;
    }
}